body {
	background-color: #222;
  /*scroll lock*/
  /*overflow: hidden; */
  font-size: 130%;
}

nav {
	z-index: 100000000000 !important;
}

a:hover {
	color: #CECECE !important
}
a.selected {
  color: white !important;
  background: #222;
}

td {
  font-style: italic;
}

.cartodb-tooltip {
   z-index: 1000 !important;          
   }


.centered {
  text-align: center;
}

.myButton {
  margin-top: 30px;
  background-color:#ffffff;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-size:24px;
  padding:10px 35px;
  text-decoration:none;
  outline: none !important;
}
.myButton:hover {
  color:#000000;
  background-color:#337ab7;
}
.myButton:active {
  position:relative;
  top:1px;
}

.equation{
/*  margin-top: 30px;
margin-bottom: 30px;*/
overflow: scroll;
}


.panel.panel-horizontal {
  display:table;
  width:100%;
  margin-bottom: 0px;
  min-height: 66px !important;
}

.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-body, .panel.panel-horizontal > .panel-footer {
  display:table-cell;
  vertical-align: middle;
  text-align: center;

  padding: 5px;
}
.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-footer {
  /*width: 25%;*/
  border:0;
  vertical-align: middle;

}
.panel.panel-horizontal > .panel-heading {
  border-right: 1px solid #ddd;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
}
.panel.panel-horizontal > .panel-footer {
  border-left: 1px solid #ddd;
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
}

#argoBrand{
  font-weight: lighter;
  width: 200px;
  color: #66afe9;
  float: right;
  text-align: right;
  padding-right: 0px !important;
}

#summarySentence label {
	white-space: nowrap;
  font-size: 93%;
}

#scenarioBuilder {
  overflow-y: scroll !important;
}

.navbar-inverse .navbar-brand {
    color: white;
    padding-left: 0px !important;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.noleftpadding {
 padding-left: 0 !important;
 margin: 0 !important;
}

.halfleftpadding {
 padding-left: 7.5px !important;
 /*margin: 0 !important;*/
}

.halfrightpadding {
 padding-right: 7.5px !important;
 /*margin: 0 !important;*/
}

.fixed-width {
  width: 143px !important;
}


.section {
	background-color: white;
}

#cal, #popData {
	cursor: text;
}


#dateSelection {
  padding-top: 10px
}

#tsContainer {
	background-color: #eee;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: outset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: outset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

}

#tsLegend {
  text-align:center;
  /*font-size: 0.9rem !important;*/
  padding: 5px;
}

#map {
	width: 100%;
}

#popData{
  font-style: italic;
}

#popData_wrapper:hover {
 z-index: 3;
}
#popData_wrapper:focus {
 z-index: 3;
}

/*.popover.left {
margin-left: -90px;
}*/

.popover.top {
  margin-left: -60px;
}

.popover.top .arrow {
  margin-left: 50px;
}

.ui-autocomplete {
  padding: 6px 12px;
  border-radius: 4px;
  webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.ui-autocomplete .ui-state-hover,
.ui-autocomplete .ui-widget-content .ui-state-hover,
.ui-autocomplete .ui-widget-header .ui-state-hover,
.ui-autocomplete .ui-state-focus,
.ui-autocomplete .ui-widget-content .ui-state-focus,
.ui-autocomplete .ui-widget-header .ui-state-focus,
.ui-autocomplete .ui-button:hover,
.ui-autocomplete .ui-button:focus {
  padding: 1px 2px;
  border-radius: 4px;
  webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #eee !important;
  border: none !important;
}

.pointer {
	cursor: pointer !important;
}
